.sc-bwzfXH{
   height: 1.72rem !important;
}

.bigheader{
  background: url(../../../assets/images/bottompenel5@2x.png) !important;
}
/* .sc-gzVnrw{
  height: calc(100% - .49rem)!important;
} */
.sc-bdVaJa{
  /* position: relative;
  top:0;
  left: 0; */
  height: 100%;
  overflow: hidden;
}
.am-tabs {
  height: 70% !important;
}
/* .eruLhQ .swiper-container {
  width: 138%;
  height: 169px;
  margin-left: -76px;
} */
/* .eruLhQ .swiper-container {
  width: 122%;
  height: 118px;
  margin-left: -68px;
  margin-top: 28px;
} */
.eruLhQ .swiper-container {
  width: 124%;
  height: 123px;
  margin-left: -68px;
  margin-top: 4px;
}
